$select-color: #fff;
$hover-color: #e2c45e;
$light-green: #1abe66;
$background-off: #c75353;
$violet: #7a1abe;
$color-text: #7b7e80;
$color-text-dark: #34373a;
$border-color: #43484b;
$background-button: #33383c;
$border-dark: #2e3337;
$color-link-external: #3e4245;
$level-line: #171b1f;
$background-nav: #23282c;
$color-nav: #1c2125;
$color-wrapper: #181d21;

/*---------font-family------*/
$font-roboto-medium: 'robotomedium', Arial, sans-serif;
$font-roboto-regular: 'robotoregular', Arial, sans-serif;
