html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------font-family------*/
.header {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  z-index: 1000;
}

.overflow {
  filter: blur(5px);
}

.wrapper-account {
  background: #181d21;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: url("../../images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
  display: flex;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 17px;
  color: #7b7e80;
}

* a {
  font-size: 17px;
  color: #7b7e80;
  text-decoration: none;
}

.top-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  font-family: "robotomedium", Arial, sans-serif;
  padding: 0 30px;
  background: #1c2125;
}

.navigation-top-left {
  display: flex;
  font-size: 17px;
  color: #7b7e80;
  justify-content: space-between;
}

.navigation-top-left li {
  margin-right: 18px;
}
.navigation-top-left li a:hover {
  color: #e2c45e;
}
.navigation-top-left li:last-child {
  margin-right: 0;
}

.active-nav {
  color: #e2c45e;
}

/*----------right-top-social-block-----------*/
.navigation-top-right {
  display: flex;
}

.social-navigation {
  display: flex;
}

.social-navigation li {
  border: 4px solid #43484b;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  margin-right: 10px;
}
.social-navigation li a {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-navigation li:last-child {
  margin-right: 28px;
}
.social-navigation li:hover {
  border: 4px solid #e2c45e;
}

/*-----------navigation-bottom-header-----------*/
.left-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-bottom {
  padding: 0 30px;
  background: #23282c;
  font-family: "robotomedium", Arial, sans-serif;
}

.logo {
  width: 226px;
  height: 82px;
  margin-right: 73px;
}
.logo img {
  max-width: 226px;
  height: 65px;
  margin-top: 10px;
}

.nav-bottom {
  display: flex;
  max-width: 725px;
  width: 100%;
  justify-content: space-between;
}

.nav-bottom li {
  list-style-type: none;
  margin-right: 40px;
}
.nav-bottom li:last-child {
  margin-right: 0;
}
.nav-bottom li a {
  position: relative;
  padding-left: 43px;
}
.nav-bottom li a:hover {
  color: #fff;
}

.roulette a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/roulette.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crash a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/chart-line.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 19px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dice a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/cube.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blackjack a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/pika.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-left {
  border-right: 1px solid #2e3337;
  line-height: 110px;
}

.nav-bottom-left {
  display: flex;
}

.profile-left-wrapper {
  display: flex;
  align-items: center;
}
.profile-left-wrapper i {
  font-size: 11px;
  color: #43484b;
  cursor: pointer;
}
.profile-left-wrapper i:hover {
  color: #e2c45e;
}

.profile-left {
  margin-right: 18px;
  color: #7b7e80;
  font-size: 17px;
  line-height: 20px;
  margin-left: 30px;
}
.profile-left span {
  color: #fff;
  font-size: 20px;
  font-family: "robotoregular", Arial, sans-serif;
}
.profile-left p {
  margin-bottom: 10px;
}

.nav-account {
  display: flex;
  margin-bottom: 40px;
}
.nav-account li {
  margin-right: 42px;
}
.nav-account li:last-child {
  margin-right: 0;
}
.nav-account li a:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.discort {
  background-image: url("../../images/discord.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  background-position: center;
}

.facebook {
  background-image: url("../../images/facebook.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 15px;
  background-position: center;
}

.tweeter {
  background-image: url("../../images/tweeter.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: center;
}

.dropdown-language {
  width: 73px;
  height: 55px;
  border-radius: 73px;
  border: 4px solid #43484b;
  -webkit-appearance: none;
  background: url("../../images/chevron-down.svg") no-repeat 76% center;
  background-size: 11px;
  line-height: 1em;
  color: #fff;
  background-color: #1c2125;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

.dropdown-language::-ms-expand {
  display: none;
}

* button {
  outline: none;
}

.buttons {
  display: flex;
}
.buttons button {
  padding: 20px 45px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  background: #33383c;
  color: #fff;
  max-width: 163px;
  width: 100%;
}
.buttons button:hover {
  background: #e2c45e;
  color: black;
}
.buttons:last-child {
  margin-right: 30px;
}

.withdraw {
  margin-right: 20px;
}

.status-notifications i {
  font-size: 18px;
}
.status-notifications button {
  width: 75px;
  height: 30px;
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.on {
  background: #1abe66;
  padding-left: 15px;
  padding-right: 10px;
}

.off {
  background: #c75353;
  flex-direction: row-reverse;
  padding-right: 15px;
  padding-left: 10px;
  display: none !important;
}

.save {
  text-align: center;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 17px;
  color: #fff;
  background: #1abe66;
  border: none;
  border-radius: 5px;
  max-width: 435px;
  width: 100%;
  padding-bottom: 22px;
  padding-top: 22px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}
.save:hover {
  opacity: 0.5;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c75353;
  -webkit-transition: .4s;
  transition: .4s;
  width: 75px;
  height: 30px;
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  border: none;
  outline: none;
  color: #fff;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 10px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .slider:after {
  position: absolute;
  right: 12px;
  top: 6px;
  content: 'off';
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
}

input:checked + .slider:after {
  position: absolute;
  left: 12px;
  top: 6px;
  content: 'on';
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
}

input:checked + .slider {
  background-color: #1abe66;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 22px;
  bottom: 6px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  left: -20px;
}

.slider.round:before {
  border-radius: 50%;
}

.left-content {
  max-width: 365px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #1c2125;
  font-family: "robotoregular", Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  position: relative;
}

.left-block {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.left-block p {
  color: #7b7e80;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.left-block span {
  margin-right: 20px;
}

.wrapper-left-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 30px;
  -webkit-box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
}
.wrapper-left-block i {
  font-size: 25px;
  color: #43484b;
  cursor: pointer;
}
.wrapper-left-block i:hover {
  color: #e2c45e;
}

.left-block-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #43484b;
  position: absolute;
  width: 305px;
  bottom: 0;
  box-shadow: none;
}
.left-block-bottom .left-block {
  justify-content: space-between;
  width: 100%;
}
.left-block-bottom .left-block input {
  background: transparent;
  color: white;
  border: none;
  width: 90%;
  outline: none;
}
.left-block-bottom .left-block input::placeholder {
  color: #fff;
  font-size: 15px;
}
.left-block-bottom .left-block button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}
.left-block-bottom .left-block button:hover {
  color: #e2c45e;
}
.left-block-bottom .last-child {
  margin-top: 30px;
}
.left-block-bottom .last-child p {
  color: #7b7e80;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}
.left-block-bottom .last-child span {
  margin-right: 20px;
  font-size: 15px;
  color: #7b7e80;
}

.chat-block {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  cursor: pointer;
}

.first-chat {
  border-top: 1px solid #43484b;
}

.avatar {
  border-radius: 5px;
  max-width: 49px;
  width: 100%;
  height: 49px;
}
.avatar img {
  width: 49px;
  height: 49px;
}

.color-avatar-green,
.color-avatar-violet {
  background: #1abe66;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-avatar-violet {
  background: #7a1abe;
}

.profile-info {
  margin-left: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile-info span {
  color: #7b7e80;
  font-size: 13px;
}

.profile-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-header h2 {
  color: #e2c45e;
  font-family: "robotomedium", Arial, sans-serif;
  margin-bottom: 5px;
}

.icon-block {
  width: 15px;
  min-height: 1080px;
  background: #1c2125;
  height: auto;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}
.icon-block i {
  color: #43484b;
  cursor: pointer;
}
.icon-block i:hover {
  color: #e2c45e;
}

.wrapper-hide {
  width: 50px;
  background: #1c2125;
  display: none;
  -webkit-box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
}

.hide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #43484b;
  padding-bottom: 38px;
  padding-top: 30px;
}

i.click-hide {
  cursor: pointer;
  margin-top: 15px;
  font-size: 25px;
}

i.click-hide:hover {
  color: #e2c45e;
}

.left-content.hide-sideBar {
  margin-left: -365px;
}

.wrapper-account-info {
  max-width: 958px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 141px;
  position: relative;
}

.change-width {
  max-width: 677px;
}

.account {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.avatar-user {
  display: flex;
  align-items: center;
}

.img-user {
  width: 103px;
  height: 103px;
  background-image: url("../../images/account-img.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 17px;
}

.info-user h2 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 18px;
}
.info-user span {
  color: #e2c45e;
}
.info-user .wrapper-line-user {
  width: 138px;
  height: 5px;
  margin-top: 18px;
  background: #171b1f;
  border-radius: 10px;
}
.info-user .wrapper-line-user .line-user {
  height: 5px;
  width: 80px;
  margin: 0;
  border-radius: 10px;
  background: #e2c45e;
  border: none;
}

.email-adress {
  margin-top: 22px;
  width: 100%;
  display: flex;
}
.email-adress input {
  padding: 35px 33px;
  background: #1c2125;
  border: none;
  font-size: 17px;
  width: 76%;
  color: #7b7e80;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.email-adress button {
  padding: 35px 33px;
  display: flex;
  background: #23282c;
  border: none;
  color: #7b7e80;
  cursor: pointer;
  outline: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "robotomedium", Arial, sans-serif;
}
.email-adress button:hover {
  background: #e2c45e;
  color: #171b1f;
}

.category {
  width: 100%;
}
.category h2 {
  color: #fff;
  margin-top: 45px;
}
.category li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.alert {
  background: #fff;
  border-radius: 5px;
  position: fixed;
  right: -430px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 31px;
  max-width: 360px;
  width: 100%;
}
.alert p {
  max-width: 230px;
  width: 100%;
  line-height: 20px;
  color: black;
}

.success {
  border-bottom: 7px solid #1abe66;
}

.error {
  border-bottom: 7px solid #c75353;
  top: 20px;
  right: -430px;
}

.img-block.success-img {
  background-image: url("../../images/success.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 38px;
}

.img-block.error-img {
  background-image: url("../../images/error.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

.img-dismiss {
  background: #fff;
  background-image: url("../../images/dissmiss.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  outline: none;
}

.balance {
  background: #23282c;
  position: absolute;
  border-radius: 5px;
  padding: 26px 28px;
  left: 0;
  right: 0;
  top: 377px;
  display: none;
}
.balance h2 {
  color: #fff;
  font-size: 20px;
  font-family: "robotoregular", Arial, sans-serif;
}

.wrapper-balance-info {
  display: flex;
  align-items: center;
}

.icon-balance {
  background-image: url("../../images/balance.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 23px;
}

.copy-address {
  background: #23282c;
  display: none;
  padding: 32px;
  position: absolute;
  right: -215px;
}

.adress-active {
  display: flex;
}

.img-clone {
  width: 21px;
  height: 21px;
  background-image: url("../../images/clone.png");
  background-repeat: no-repeat;
  margin-right: 30px;
}

.sidebar {
  max-width: 224px;
  width: 100%;
  max-height: 228px;
  background: #1c2125;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 17px;
  color: #7b7e80;
  margin-left: 30px;
  margin-top: 100px;
  border-radius: 5px;
}
.sidebar li {
  padding: 30px 28px;
  text-align: right;
  border-bottom: 1px solid #43484b;
}
.sidebar li:last-child {
  border-bottom: none;
}
.sidebar li a:hover {
  color: #fff;
}

.margin-bitcoin h2 {
  margin-top: 30px;
}

.form-setting {
  background: #1c2125;
  border-radius: 5px;
  padding: 33px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.form-setting input {
  border: none;
  background: transparent;
  width: 80%;
  font-size: 17px;
  color: #fff;
  outline: none;
}
.form-setting input::placeholder {
  color: #fff;
  font-size: 17px;
  font-family: "robotomedium", Arial, sans-serif;
}

.change-input-width input {
  width: 60%;
}

.game-wrapper {
  max-width: 895px;
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  background: #1c2125;
  padding: 32px 49px;
}
.title-wrapper li {
  border-right: 1px solid #43484b;
  padding-right: 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 0;
}
.title-wrapper li:last-child {
  border-right: none;
  padding-right: 0;
}
.title-wrapper h2 {
  margin-bottom: 16px;
  color: #fff;
}

.change-width-game {
  max-width: 895px !important;
}

.games {
  margin-top: 22px;
}
.games ul {
  display: flex;
}
.games ul li.dice {
  max-width: 310px;
  width: 100%;
  height: 304px;
  background-image: url("../../images/dice.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 34px 60px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.games ul li.dice h2 {
  color: #fff;
  margin-top: 82px;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=2, offY=1, color=#000000, positive=true);
  text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
}
.games ul li.roulette-game {
  max-width: 310px;
  width: 100%;
  height: 304px;
  background-image: url("../../images/rouletta-fon.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 34px 60px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.games ul li.roulette-game h2 {
  color: #fff;
  margin-top: 82px;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=2, offY=1, color=#000000, positive=true);
  text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
}

.games ul li:first-child {
  margin-right: 35px;
}
.games ul li.blackjack-game {
  max-width: 310px;
  width: 100%;
  height: 304px;
  background-image: url("../../images/blackjack.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 34px 60px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.games ul li.blackjack-game h2 {
  color: #fff;
  margin-top: 82px;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=2, offY=1, color=#000000, positive=true);
  text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
}
.games ul li.crash-game {
  max-width: 310px;
  width: 100%;
  height: 304px;
  background-image: url("../../images/crash.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 34px 60px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.games ul li.crash-game h2 {
  color: #fff;
  margin-top: 82px;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=2, offY=1, color=#000000, positive=true);
  text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.35);
}

.games ul:last-child {
  margin-top: 20px;
}
.games ul li {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.title-bottom {
  width: 100%;
  position: relative;
  bottom: -100px;
}
.title-bottom p {
  margin-top: 32px;
  text-align: center;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.stats li {
  color: #e2c45e;
}
.stats li:first-child {
  color: #1abe66;
  margin-right: 0 !important;
}
.stats li:last-child {
  color: #c75353;
}

@media (max-width: 1540px) {
  * a {
    font-size: 15px;
  }

  .nav-left {
    line-height: 100px;
  }

  .buttons button {
    max-width: 123px;
    width: 100%;
    padding: 15px 35px;
  }

  .logo {
    margin-right: 53px;
  }

  .buttons:last-child {
    margin-right: 20px;
  }

  .profile-left p {
    font-size: 14px;
  }
  .profile-left span {
    font-size: 17px;
  }

  .logo img {
    max-width: 206px;
  }

  .nav-bottom li a {
    padding-left: 33px;
  }

  .wrapper-left-block {
    padding: 28px 20px;
  }

  .chat-block {
    padding: 15px 20px;
  }

  .profile-header {
    font-size: 14px;
  }

  .wrapper-left-block i {
    font-size: 15px;
  }

  .left-block {
    font-size: 17px;
  }

  .wrapper-account-info {
    max-width: 695px;
  }

  .title-wrapper h2 {
    font-size: 14px;
  }
  .title-wrapper li p {
    font-size: 14px;
  }

  .games ul li h2 {
    font-size: 14px;
  }

  .games ul li:first-child {
    margin-right: 25px;
  }

  .stats li {
    font-size: 14px;
  }

  .title-bottom p {
    font-size: 14px;
  }

  .games ul li.dice {
    max-width: 260px;
    padding: 24px 40px;
  }
  .games ul li.roulette-game {
    max-width: 260px;
    padding: 24px 40px;
  }
  .games ul li.blackjack-game {
    max-width: 260px;
    padding: 24px 40px;
  }
  .games ul li.crash-game {
    max-width: 260px;
    padding: 24px 40px;
  }

  .game-wrapper {
    max-width: 695px;
  }

  .info-user h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .info-user span {
    font-size: 14px;
  }

  .img-user {
    width: 93px;
    height: 93px;
    background-size: contain;
  }

  .email-adress input {
    padding: 25px 23px;
    font-size: 14px;
    width: 74%;
  }
  .email-adress button {
    padding: 25px 23px;
    font-size: 12px;
  }

  .category {
    font-size: 14px;
  }
  .category h2 {
    margin-top: 35px;
  }

  .change-width {
    max-width: 495px;
  }

  .form-setting {
    padding: 23px;
  }

  .copy-address {
    padding: 23px;
    right: -200px;
  }

  .save {
    max-width: 335px;
  }

  .sidebar li {
    padding: 25px 22px;
  }

  i.click-hide {
    font-size: 15px;
  }

  .hide {
    padding-bottom: 28px;
    padding-top: 20px;
  }

  .width-deposit {
    max-width: 695px !important;
  }
}
@media (max-width: 1280px) {
  * a {
    font-size: 14px;
  }

  .buttons button {
    max-width: 103px;
    font-size: 14px;
    padding: 15px 25px;
  }

  .change-width {
    max-width: 495px;
  }
}
* p {
  line-height: 23px;
}

.bitcoin-block {
  max-width: 80px;
  width: 100%;
  background: #1c2125;
  border-radius: 5px;
  padding: 22px 20px;
}

.bitcoin-wrapper {
  display: flex;
  align-items: center;
}

.img-bitcoin {
  background-image: url("../../images/bitcoin.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.dropdown-bitcoin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-bitcoin i {
  font-size: 11px;
  color: #7b7e80;
  cursor: pointer;
}
.dropdown-bitcoin i:hover {
  color: #e2c45e;
}

.right-bitcoin-info {
  margin-left: 34px;
}
.right-bitcoin-info h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
}
.right-bitcoin-info p {
  max-width: 499px;
}

.change-input-width-password {
  max-width: 584px;
}

.right-width {
  right: 74px;
}

.wrapper-account-info.width-deposit {
  max-width: 895px;
}

.margin-bitcoin {
  margin-top: 22px;
}

.code-qr {
  border: 8px solid #1c2125;
  border-radius: 5px;
}

.img-code-qr {
  width: 128px;
  height: 128px;
  background-image: url("../../images/qr-code.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper-history-info {
  margin-top: 30px;
}

.img-history {
  background-image: url("../../images/bitcoin.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-right: 22px;
}

.bitcoin-title {
  margin-top: 0;
}

.course {
  display: flex;
  align-items: center;
}
.course h2 {
  margin-top: 0;
}

.history {
  display: flex;
  align-items: center;
  max-width: 895px;
  width: 100%;
  justify-content: space-between;
  background: #1c2125;
  padding: 27px 30px;
  margin-top: 20px;
}

.info-course {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.type-deposit {
  display: flex;
  align-items: center;
}
.type-deposit p {
  margin-right: 35px;
}
.type-deposit a i {
  font-size: 23px;
  color: #3e4245;
}
.type-deposit a i:hover {
  color: #fff;
}

.pop_up {
  max-width: 500px;
  width: 100%;
  background: #1c2125;
  position: relative;
  border-radius: 5px;
  padding: 34px 0 0;
  z-index: 1100;
  margin: 20px auto;
  font-family: "robotomedium", Arial, sans-serif;
  color: #7b7e80;
  font-size: 17px;
  display: none;
}

.img-dismiss-pop-up {
  background-image: url("../../images/dissmiss.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: 30px;
}

.title-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 33px;
  border-bottom: 1px solid #2e3337;
}

.confirmed {
  width: 124px;
  height: 124px;
  border: 2px solid #1abe66;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 34px;
}
.confirmed i {
  font-size: 48px;
  color: #1abe66;
}

.amount {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.amount h2 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 18px;
}

.popup_content {
  max-width: 440px;
  width: 100%;
}

.pop-up-block li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 30px;
  border-top: 1px solid #2e3337;
  border-bottom: 1px solid #2e3337;
}
.pop-up-block li:first-child {
  margin-top: 33px;
}
.pop-up-block li p {
  color: #fff;
}
.pop-up-block li:last-child {
  border: none;
}

.margin-none {
  margin-right: 0;
  cursor: pointer;
}
.margin-none:hover {
  width: 21px;
  height: 21px;
  background-image: url("../../images/clone-white.png");
  background-repeat: no-repeat;
}

.wrapper-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 56%;
}

.send-to-value {
  background: transparent;
  border: none;
  color: #fff;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  color: #1abe66;
  margin-right: 20px;
  font-size: 14px !important;
}
