html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------font-family------*/
.header {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.15);
  z-index: 1000;
}

.wrapper-account {
  background: #181d21;
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: url("../../images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* a {
  font-size: 17px;
  color: #7b7e80;
  text-decoration: none;
}

.top-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  font-family: "robotomedium", Arial, sans-serif;
  padding: 0 30px;
  background: #1c2125;
}

.navigation-top-left {
  display: flex;
  font-size: 17px;
  color: #7b7e80;
  justify-content: space-between;
}

.navigation-top-left li {
  margin-right: 18px;
}
.navigation-top-left li a:hover {
  color: #e2c45e;
}
.navigation-top-left li:last-child {
  margin-right: 0;
}

/*----------right-top-social-block-----------*/
.navigation-top-right {
  display: flex;
}

.social-navigation {
  display: flex;
}

.social-navigation li {
  border: 4px solid #43484b;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  margin-right: 10px;
}
.social-navigation li a {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-navigation li:last-child {
  margin-right: 28px;
}

/*-----------navigation-bottom-header-----------*/
.left-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-bottom {
  padding: 0 30px;
  background: #23282c;
  font-family: "robotomedium", Arial, sans-serif;
}

.logo {
  width: 226px;
  height: 82px;
  margin-right: 73px;
}
.logo img {
  max-width: 226px;
  height: 65px;
}

.nav-bottom {
  display: flex;
  max-width: 725px;
  width: 100%;
  justify-content: space-between;
}

.nav-bottom li {
  list-style-type: none;
  margin-right: 40px;
}
.nav-bottom li:last-child {
  margin-right: 0;
}
.nav-bottom li a {
  position: relative;
  padding-left: 43px;
}

.roulette a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/roulette.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crash a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/chart-line.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 19px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dice a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/cube.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blackjack a:before {
  content: '';
  position: absolute;
  background-image: url("../../images/pika.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-left {
  border-right: 1px solid #2e3337;
  line-height: 110px;
}

.nav-bottom-left {
  display: flex;
}

.profile-left-wrapper {
  display: flex;
  align-items: center;
}
.profile-left-wrapper i {
  font-size: 11px;
  color: #43484b;
  cursor: pointer;
}
.profile-left-wrapper i:hover {
  color: #e2c45e;
}

.profile-left {
  margin-right: 18px;
  color: #7b7e80;
  font-size: 17px;
  line-height: 20px;
  margin-left: 30px;
}
.profile-left span {
  color: #fff;
  font-size: 20px;
  font-family: "robotoregular", Arial, sans-serif;
}
.profile-left p {
  margin-bottom: 10px;
}

.discort {
  background-image: url("../../images/discord.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  background-position: center;
}

.facebook {
  background-image: url("../../images/facebook.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 15px;
  background-position: center;
}

.tweeter {
  background-image: url("../../images/tweeter.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: center;
}

.dropdown-language {
  border-radius: 78px;
  padding: 11px 15px;
  border: 4px solid #43484b;
  background: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dropdown-language i {
  font-size: 11px;
  color: #43484b;
}

.language {
  position: absolute;
  color: #fff;
  padding: 15px 0;
  width: 78px;
  border: 4px solid #43484b;
  border-radius: 73px;
  right: 25px;
  top: 78px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons button {
  padding: 20px 45px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  background: #33383c;
  color: #fff;
}
.buttons button:hover {
  background: #e2c45e;
  color: black;
}
.buttons:last-child {
  margin-right: 30px;
}

.withdraw {
  margin-right: 20px;
}

.left-content {
  max-width: 365px;
  width: 100%;
  height: auto;
  background: #1c2125;
  font-family: "robotoregular", Arial, sans-serif;
  font-size: 15px;
  color: #fff;
}

.left-block {
  font-size: 20px;
  display: flex;
}
.left-block p {
  color: #7b7e80;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.left-block span {
  margin-right: 20px;
}

.wrapper-left-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 30px;
}
.wrapper-left-block i {
  font-size: 25px;
  color: #43484b;
  cursor: pointer;
}

.left-block-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #43484b;
}
.left-block-bottom .left-block {
  justify-content: space-between;
  width: 100%;
}
.left-block-bottom .left-block input {
  background: transparent;
  color: white;
  border: none;
  width: 90%;
  outline: none;
}
.left-block-bottom .left-block input::placeholder {
  color: #fff;
  font-size: 15px;
}
.left-block-bottom .left-block button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}
.left-block-bottom .left-block button:hover {
  color: #e2c45e;
}
.left-block-bottom .last-child {
  margin-top: 30px;
}
.left-block-bottom .last-child p {
  color: #7b7e80;
  font-family: "robotomedium", Arial, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}
.left-block-bottom .last-child span {
  margin-right: 20px;
  font-size: 15px;
  color: #7b7e80;
}

.chat-block {
  display: flex;
  align-items: center;
  border-top: 1px solid #43484b;
  padding: 25px 30px;
  cursor: pointer;
}

.avatar {
  border-radius: 5px;
  max-width: 49px;
  width: 100%;
  height: 49px;
}
.avatar img {
  width: 49px;
  height: 49px;
}

.color-avatar-green,
.color-avatar-violet {
  background: #1abe66;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-avatar-violet {
  background: #7a1abe;
}

.profile-info {
  margin-left: 22px;
  width: 100%;
  display: flex;
}
.profile-info span {
  color: #7b7e80;
  font-size: 13px;
}

.profile-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-header h2 {
  color: #e2c45e;
  font-family: "robotomedium", Arial, sans-serif;
  margin-bottom: 12px;
}
