.buttons{
  button{
    padding: 20px 45px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    background: $background-button;
    color: $select-color;
    &:hover{
      background: $hover-color;
      color: black;
    }
  }
  &:last-child{
    margin-right: 30px;
  }
}
.withdraw{
  margin-right: 20px;
}
.status-notifications{
  i{
    font-size: 18px;
  }
  button{
    width: 75px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    border: none;
    outline: none;
    color: $select-color;
    cursor: pointer;
  }
}
.on{
  background: $light-green;
  padding-left: 15px;
  padding-right: 10px;
}
.off{
  background: $background-off;
  flex-direction: row-reverse;
  padding-right: 15px;
  padding-left: 10px;
  display: none !important;
}
.save{
  text-align: center;
  font-family: $font-roboto-medium;
  font-size: 17px;
  color: $select-color;
  background: $light-green;
  border: none;
  border-radius: 5px;
  max-width: 435px;
  width: 100%;
  padding-bottom: 22px;
  padding-top: 22px;
  cursor: pointer;
  outline: none;
}