.dropdown-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 40px;
}
.display-change{
  flex-direction: column;
}
.dropdown-info-block{
  border-top: 1px solid $border-dark;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: none;
  p{
    margin-left: 40px;
  }
}
.border-radius-none{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.padding-none{
  padding-left: 0;
  padding-right: 0;
}
.dropdown-profile{
  max-width: 264px;
  width: 100%;
  background: $background-nav;
  position: absolute;
  right: 0;
  top: 186px;
  display: none;
  z-index: 100;
  li{
    padding: 20px 15px;
    color: $color-text;
    border-top: 1px solid $border-dark;
  }
}
.info-profile{
  a{
    cursor: pointer;
    &:hover{
      color: $select-color;
    }
  }
}
.active-profile{
  display: block;
}
.up-block{
  display: none;
}