.wrapper-account{
  background: $color-wrapper;
  max-width: 1920px;
  width: 100%;
  min-height: 1080px;
  height: auto;
  margin: 0 auto;
  background-image: url("../../images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  display: flex;
  font-family: $font-roboto-medium;
  font-size: 17px;
  color: $color-text;
}